*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}



nav{
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 50px;
  
  
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline-block;
    padding: 1rem;
}

nav a{
    text-decoration: none;
}

.text-1{
    padding: 10px 50px;
    font-weight: lighter;
    color: #999;
}


.head-link{
    text-transform: capitalize;
    color: #999;

}

.head-link:hover{
    color: orange;
}

.section-text{
    padding: 6rem 9rem;
    z-index: 2;
    position: absolute;
    top: 10%;
}

.text-2{
    text-transform: capitalize;
    color: darkorange;
    font-size: 4rem;
    font-weight: 100;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-3{
    font-size: 8rem;
font-family: Arial, Helvetica, sans-serif;
font-weight: lighter;
 color:rgb(95, 95, 161);
}

.text-4{
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: lighter;
    color: rgb(95, 95, 161);
    margin-bottom: 1.5rem;
}

.section-text a{
    text-decoration: none;
}

.btn-link{
color: rgb(95, 95, 161);
border: 2px solid rgb(95, 95, 161);;
padding: 1.2rem;
text-transform: capitalize;
}

.video{
    position: relative;
opacity: 0.6;
    z-index: -1;
object-fit: cover;
left: 0;
width: 100%;
height: 100%;
}

.section-content{
    display: grid;
    grid-template-columns: 2fr 2fr;


}

.content{
padding: 70px 50px;
}

.line-thru{
    border: 1px solid darkorange;
    width: 40px;
    margin-bottom: 2rem;
}

.text-5{
    font-size: 1.6rem;
    margin-bottom: 2rem;
    color: #999;
}

.text-6{
    font-size: 1rem;
    color: rgb(92, 89, 89);
    line-height: 1.5rem;
    margin-bottom: 2rem;
    font-weight: lighter;
}

.content a{
    text-decoration: none;
}

.sec-link{
    text-transform: uppercase;
    color: rgb(45, 43, 43);
    font-size:13px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content-main{
    margin-top: -15rem;
}

.content-2::after{
    content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(251, 246, 246, 0.3);
        height: 100%;
        width: 100%;
    z-index: 1;

}

.content-2{
    display: flex;
    justify-content: space-between;
align-content: space-between;
position: relative;
}



.img-8{
    background-image: url(.//img/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
    height: 200px;
    

}

.img-9 {
    background-image: url(.//img/img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
        height: 200px;

}

.img-10 {
    background-image: url(.//img/img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
        height: 200px;
        

}



.img-text{
    font-size: 2rem;
    color:darkorange;
    margin-bottom: 1rem;
    z-index: 2;
}

.img-text-2 {
    font-size: 1.3rem;
    color: rgb(1, 1, 17);

}

.section-content-3{
    background-color: rgb(230, 224, 224);

    justify-content: center;
    align-content: center;
}

.content-3{
    display: flex;
        padding: 60px 50px;
}

.content-4{
    display: flex;
    justify-content: center;
        padding: 60px 0px;
}

.icons{
    z-index: 2;
}

.icon{
    padding: 0px 20px;
}

.icon-text{
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: lighter;
}

.icon-text-2{
    font-size: 16px;
    line-height: 2rem;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video-section{
    margin: 70px 100px;
    display: flex;
}

.video-head{
    font-family: sans-serif;
    font-size: 1.5rem;
    color: rgb(95, 95, 161);
    margin-bottom: 1rem;
}

.video-head-2{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.video-text{
font-family: sans-serif;
font-style: italic;
color: #999;
}

.earn-text{
    padding: 20px 30px;
    line-height: 2rem;
    color: #999;
    font-weight: bold;
   
}

.earn-text ul{
    list-style-type: square;
}

.earn-p{
    border-bottom: 1px solid rgb(179, 170, 170);
    width: 230px;
}

.video-2{
    margin:120px 50px;
}


.service-content{
    display: flex;
    justify-content: space-between;
    margin-top: -5rem;
}

.service-content-2{
    padding: 100px 50px;
}

.service-text{
    font-size: 1.5rem;
    color: rgb(95, 95, 161);
    margin-bottom: 1rem;
}

.service-2{
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 3rem;
}

.service-content ul{
  list-style-type: square;
}

.service-list{
    font-size: 14px;
    padding: 9px;
    border-bottom: 1px  solid darkorange ;

}

.invest-section{
    background-color: rgb(91, 90, 90);
}

.invest-text{
    font-size: 2rem;
    color: #fff;
  font-family: serif;
  font-weight: lighter;
  padding: 60px 80px;
}

.invest-content{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: .5rem;
    text-align: center;
    padding: 60px 60px;
}

.invest-content ul{
    list-style-type: none;
}

.plan-list{
    background-color: #ffff;
    color: #999;
    line-height: 3rem;
    padding-bottom: 2rem;
    font-size: 16px;
}

.plan-border{
    border: 1px solid #ffff;
}

.invest-plan{
    color: #fff;
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 1rem;
    
}

.plan-days{
    font-size: 1.6rem;
    background-color: rgb(59, 58, 58);
    color: #fff;
    padding: 1.3rem;
}

.plan-days-2{
    font-size: 2rem;
    background-color: darkorange;
    padding: 1.5rem;
}

.plan-2{
    margin-top: -1em;
}


.plan-border a{
    text-decoration: none;
}

.plan-link{
    color: #fff;
    border: 1px solid black;
    background-color: rgb(95, 95, 161);
    text-transform: capitalize;
    padding: .8rem 2rem;
    
}

.wallet-acc{
    background-image: url(./img/img-10.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.wallet-acc::after{
    content:'';
    background-color: rgba(235, 228, 228, 0.7);
    position: absolute;
    left: 0;
    
    width: 100%;
    height: 400px;
    z-index: 1;
}

.acc-text{
    z-index: 2;
    padding:8rem 4rem ;
 }

 .acc{
    display: flex;
 }

.acc-text-2{
    color: rgb(95, 95, 161);
    font-size: 2.7rem;
    
}

.acc-text-3{
    color: rgb(66, 66, 138);
    font-size: 14px;
    font-weight: lighter;
}

.logo-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5rem;
padding: 5rem;
}

.abt-content{
    background-color: rgb(68, 66, 66);
   color: rgb(185, 181, 181);
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 3rem;
    padding: 5rem;
    font-family: sans-serif;
    line-height: 2rem;
}

.abt-content a{
    text-decoration: none;
}

.abt-link{
    color: rgb(185, 181, 181);
}

.works{
    color: #fff;
}

.cnt ul{
    list-style-type: square;
}

.footer{
    background-color: black;
    color: #999;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    font-family: sans-serif;
}

.footer ul{
    list-style-type: none;
    display: flex;
}

.footer li{
    display: inline-block;
    padding:0px 10px ;
}

.footer a{
    text-decoration: none;
}

.foot-link{
    color: #999;
}

.foot-link:hover{
    color: #fff;
}

.foot-text{
    font-weight: lighter;
}




.terms-img{
    background-image: url(./img/img-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    position: relative;
}

.terms-img::after{
    content: '';
        background-color: rgba(235, 228, 228, 0.9);
        position: absolute;
        left: 0;
height: 100%;
width: 100%;
top: 0%;
        
}

.terms-head{
    font-size: 2rem;
        font-weight: lighter;
        font-family: sans-serif;
        color: rgb(66, 66, 138);
        z-index: 2;
        padding: 60px 50px;
        position: relative;
}

span{
    color: darkorange;
    font-size: 1rem;
    font-style: italic;
    margin-left: 1rem;
    
}

.rules-content{
    padding: 80px 100px;
    font-family: sans-serif;
    color: rgb(143, 135, 135);
}

.rules-text{
    font-size: 1.5rem;
    font-weight: lighter;
    margin-bottom: 1.5rem;
    color: rgb(76, 71, 71);
}

.rules-p{
    font-size:.9rem ;
    margin-bottom: 2rem;
}

.contact-section{
    display: flex;
    justify-content: space-between;
   padding: 60px 70px;
   font-family: sans-serif;
}

.contact-head{
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-bottom: 1rem;
    color: rgb(68, 66, 66);
}

.contact-name{
    font-size: .9rem;
    line-height: 3rem;
    color: #999;
}

.input{
    padding-top:1rem ;
    padding-bottom:1rem ;
    padding-left:1rem ;
    padding-right: 35rem;
    border: none;
    border: 1px solid rgb(210, 201, 201);
    color: #999;
}

.text-area{
    padding-top: 1rem;
        padding-bottom: 10rem;
        padding-left: 1rem;
        padding-right: 35rem;
        border: none;
        border: 1px solid rgb(210, 201, 201);
        color: #999;
        margin-bottom: 3rem;
}

.contact-section a{
    text-decoration: none;
}

.contact-link{
    color: #fff;
    background-color: darkorange;
    padding: 14px 20px;
    font-weight: bolder;
}

.contact-section-2{
padding: 0px 50px;
}

.contact-section-3{
    margin-bottom: 3rem;
}

.contact-head-2{
font-size: .9rem;
font-weight: bold;
color: rgb(109, 109, 155);
margin-bottom: 1rem;
}

.contact-p{
    color: rgb(103, 99, 99);
    font-size: .8rem;
    line-height: 2rem;
}


.register-section{
    padding: 50px 100px;
    font-family: sans-serif;
}

.register-name{
    font-size: 1rem;
        line-height: 3rem;
        color: #999;
        
}

.input-2{
    padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 55rem;
        border: none;
        border: 1px solid rgb(210, 201, 201);
        color: #999;
}

.register-section ul{
    list-style-type: none;
    margin-top: 2rem;
}

.register-section a {
    text-decoration: none;
}

.register-link{
    color: #fff;
        background-color: darkorange;
        padding: 14px 20px;
        font-weight: bolder;
}

.forgot-password{
    text-transform: capitalize;
    color: #999;
}

.forgot-password:hover{
    color: darkorange;
}



@media screen and (max-width:1000px) {

   nav{
    padding: 0px;
   }

   nav li {
       display: inline-block;
       padding: .5rem;
   }
    .text-1{
        font-size: .5rem;
    }
    
    .head-link{
        font-size: .5rem;
    }

    .section-text{
                padding: 6rem 1rem;
                z-index: 2;
                position: absolute;
        top: 0;
        left: 0;
            }
    

    .text-2{
        font-size: 1.5rem;
    }

        .text-3 {
            font-size: 2.1rem;
        }

        .text-4{
            font-size: 1rem; 
        }

        .video{
            height: 100%;
            width: 100%;
        }

        .btn-link{
            font-size: .5rem;
        padding: .5rem;
        }


        .sec-img{
            width: 100%;
        height: 100%;
        }

        .content{
            padding: 10px 20px ;
        }

.line-thru {
    border: 1px solid darkorange;
    width: 40px;
    margin-bottom: .5rem;
}

.section-content{
    padding-bottom: 5rem;
}

.content-main{
    padding-top: 10rem;
}

.content-3{
    display: flex;
    flex-wrap: wrap;
}

.text-5 {
    font-size: .8rem;
    margin-bottom: .5rem;
    color: #999;
}

.text-6 {
    font-size: .5rem;
    color: rgb(92, 89, 89);
    line-height: 1rem;
    margin-bottom: .5rem;
    font-weight: lighter;
}

.img-8 {
    background-image: url(.//img/img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    height: 100px;


}

.img-9 {
    background-image: url(.//img/img-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    height: 100px;

}

.img-10 {
    background-image: url(.//img/img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 1rem;
    height: 100px;


}

.img-text {
    font-size: 1rem;
    color: darkorange;
    margin-bottom: 1rem;
    z-index: 2;
}

.img-text-2 {
    font-size: .7rem;
    color: rgb(1, 1, 17);

}

.sec-link{
    font-size: .5rem;
}

.icon {
    padding: 0px 20px;
    width: 70px;
}

.icon-text {
    font-size: .7rem;
    margin-bottom: .5rem;
    font-weight: lighter;
}

.icon-text-2 {
    font-size: 14px;
    line-height: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.video-section {
    margin: 50px 50px;
    display: flex;
    flex-wrap: wrap;
}

.video-head {
    font-family: sans-serif;
    font-size: 1rem;
    color: rgb(95, 95, 161);
    margin-bottom: .5rem;
}

.video-head-2 {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1rem;
    margin-bottom: 1rem;
    
}

.video-text {
    font-family: sans-serif;
    font-style: italic;
    color: #999;
}

.earn-text {
    padding: 20px 30px;
    line-height: 2rem;
    color: #999;
    font-weight: bold;

}

.earn-text ul {
    list-style-type: square;
}

.earn-p {
    border-bottom: 1px solid rgb(179, 170, 170);
    width: 230px;
}

.video-2 {
    margin: 120px 0px;
}

.video-3{
    width: 270px;
}

.service-content{
    display: flex;
    flex-wrap: wrap;
}

.sev-img{
    display: none;
}

.invest-content{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.invest-text {
    font-size: 2rem;
    color: #fff;
    font-family: serif;
    font-weight: lighter;
    padding: 60px 80px;
}



.invest-content ul {
    list-style-type: none;
}

.plan-list {
    background-color: #ffff;
    color: #999;
    line-height: 3rem;
    padding-bottom: 2rem;
    font-size: 16px;
}

.plan-border {
    border: 1px solid #ffff;
    margin-bottom: 2rem;
}

.invest-plan {
    color: #fff;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 2rem;

}

.plan-days {
    font-size: 1.6rem;
    background-color: rgb(59, 58, 58);
    color: #fff;
    padding: 2rem;
}

.plan-days-2 {
    font-size: 2rem;
    background-color: darkorange;
    padding: 2rem;
}

.plan-2 {
    margin-top: -1em;
}


.plan-border a {
    text-decoration: none;
}

.plan-link {
    color: #fff;
    border: 1px solid black;
    background-color: rgb(95, 95, 161);
    text-transform: capitalize;
    padding: .8rem 2rem;

}

.wallet-acc {
    background-image: url(./img/img-10.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.wallet-acc::after {
    content: '';
    background-color: rgba(235, 228, 228, 0.7);
    position: absolute;
    left: 0;

    width: 100%;
    height: 400px;
    z-index: 1;
}

.acc{
display: flex;
    
}

.acc-text {
    z-index: 2;
    padding: 8rem 1rem;
}


.acc-text-2 {
    color: rgb(95, 95, 161);
    font-size: .7rem;
    margin-bottom: 1.5rem;

}

.acc-text-3 {
    color: rgb(66, 66, 138);
    font-size: 7px;
    font-weight: lighter;
}

.logo-content {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 2rem;
}

.logo{
    width: 50px;
}

.mega-abt{
    font-size: .4rem;
}

.forbes-text{
    font-size: .4rem;
    line-height: normal;
    margin-bottom: 1rem;
}

.works{
    font-size: .4rem;
    line-height: 1rem;

}

.abt-link{
    font-size: .5rem;
    line-height: 1rem;
}

.footer{
   display: flex;
   flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 1rem;
    position: relative;
}

.foot-link{
    font-size: .5rem;
}

.foot-text{
    text-align: center;
    font-size: .5rem;
}

.abt-content{
  display: block;
  
}

.terms-img{
    width: 100%;
}

.terms-head{
    font-size: .8rem;
}

.terms-img::after{
    position: absolute;

}

span{
    font-size: .7rem;
}

.rules-content{
    padding: 2rem 5rem;
}

.rules-text{
    font-size: .9rem;
}

.rules-p{
    font-size: .5rem;
}

.contact-head{
    font-size: .9rem;
}

.register-section{
    padding: 2rem 3rem;
    line-height: normal;
}
.register-name{
    font-size: .6rem;
}

.input-2{
    padding-top: .5rem;
    padding-bottom: .5rem ;
    padding-left:.5rem ;
    padding-right: 3rem;
}

::placeholder{
    font-size: .5rem;
}

.register-link{
    padding: .5rem;
    font-size: .5rem;
}

.contact-section{
    flex-wrap: wrap;
    padding: 2rem 5rem;
        line-height: normal;
}



.contact-name{
    font-size: .6rem;
}

.input{
    padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: .5rem;
        padding-right: 6rem;
}

.text-area{
    padding-top: .5rem;
        padding-bottom: 4rem;
        padding-left: .5rem;
        padding-right: 6rem;
}

.contact-link{
    padding: .5rem;
        font-size: .5rem;
}

.contact-head-2{
    font-size: .8rem;
}

.contact-p{
    font-size: .7rem;
}

.contact-section-2{
    padding: 40px 0px ;
}
}